In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:/Descargas/empleados.csv', delimiter = ";") # Esta linea carga al df (DataFrame) el archivo .csv y lo delimita mediante los ';'.
# Se debe cambiar la ruta especificada.

In [3]:
pd.set_option('display.max_columns', None) # Estos ajusten sacan los limites de la muestra de los datos tanto de las rows como de las columnas
pd.set_option('display.max_rows', None)    # Para que el DataFrame se muestre sin truncamiento.

In [ ]:
df = df.drop('Apellido', axis=1) # Sobreescribo el DataFrame, actualizandolo quitando la columna 'Apellido' con el metodo .drop 
                                 # ya que solo contiene NaNs (Se debería crear otro df, no el mismo).

In [25]:
df.head() # Cinco primeros valores sin la columna 'Apellidos'

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,Masculino,Soltero(a),22.0,3.0,2423.0,No,Publicidad
1,Carlos,Masculino,Casado(a),38.0,10.0,3132.0,Sí,NaN
2,Felipa,Femenino,Soltero(a),26.0,5.0,2639.0,No,Comercial
3,Daniel,Masculino,Casado(a),35.0,10.0,3122.0,No,Comercial
4,John,Masculino,Casado(a),35.0,13.0,3431.0,Sí,Servicios al cliente