In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('D:/Descargas/empleados.csv', delimiter =';')

In [4]:
df_c = df.drop('Apellido', axis=1)

In [5]:
df_c = df_c.dropna(axis=0)

In [6]:
df_c = df_c.drop_duplicates()

In [7]:
df_c['Edad'].mean()

33.7972027972028

In [8]:
df_c.columns

Index(['Nombre', 'Sexo', 'Estado_Civil', 'Edad', 'Experiencia', 'Salario',
       'Gerencia', 'Departamento'],
      dtype='object')

In [9]:
df_c['Salario'].mean()

2778.6573426573427

In [10]:
df_c['Experiencia'].mean()

6.8671328671328675

In [19]:
df_c.mean(numeric_only=True, axis=0).round(0)

Edad             34.0
Experiencia       7.0
Salario        2779.0
dtype: float64