In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:/Descargas/empleados.csv', delimiter=';')

In [3]:
df = df.drop('Apellido', axis=1)

In [5]:
df = df.drop_duplicates()

In [17]:
print(df.isnull().sum())

Nombre           6
Sexo            37
Estado_Civil     4
Edad             0
Experiencia      4
Salario          6
Gerencia        21
Departamento    12
dtype: int64

In [14]:
df['Edad'] = df['Edad'].fillna(df['Edad'].mean())

In [18]:
df = df.dropna(axis=0)

In [20]:
df.shape

(189, 8)

In [21]:
print(df.isnull().sum())

Nombre          0
Sexo            0
Estado_Civil    0
Edad            0
Experiencia     0
Salario         0
Gerencia        0
Departamento    0
dtype: int64