In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:/Descargas/empleados.csv', delimiter = ';')

In [3]:
df = df.drop(['Apellido'], axis = 1) # Vuelvo a soltar la columna 'Apellido' (El axis=1 hace referencias a las columnas)

In [6]:
df_act = df.dropna(axis=0) # Limpio el DataFrame de las filas que contengan AL MENOS un valor nulo

In [17]:
filas_dup_act = df_act[df_act.duplicated()] # Asigno un nuevo DF y muestro qué valores son los duplicados

In [19]:
filas_dup_act

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
14,Selena,Femenino,Casado(a),24.0,6.0,2709.0,Sí,Contabilidad
65,Lucio,Masculino,Soltero(a),54.0,12.0,3317.0,No,Recursos Humanos

In [22]:
df_act = df_act.drop_duplicates() # Limpio el DataFrame de los valores duplicados

In [25]:
df_act.shape # Recuento de las rows y columnas respectivamente

(143, 8)